<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	id="org.limitstate.BroadcastIntentPlugin" 
	version="0.0.5">

	<name>Zebra TC20 Datawedge Receiver</name>
	<description>Receives broadcast intent.</description>
	<license>Apache 2.0</license>
	<keywords>cordova, zebra, tc20, intent, scanner, plugin</keywords>

	<js-module src="www/broadcast_intent_plugin.js" name="BroadcastIntentPlugin">
		<clobbers target="navigator.broadcast_intent_plugin" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="AndroidManifest.xml" parent="/*">
			
		</config-file>

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="BroadcastIntentPlugin">
				<param name="android-package" value="org.limitstate.BroadcastIntentPlugin" />
			</feature>
		</config-file>

		<source-file src="src/android/BarcodeScannerPlugin.java" target-dir="src/org/limitstate/intent" />
	</platform>

</plugin>
